{% extends 'base.html' %}
{% load static %}

{%  block header %}
    <script>
        var percentage_last_month_peak = {{ percentage_last_month_peak }};
        var percentage_last_month_off_peak = {{ percentage_last_month_off_peak }};
        var percentage_last_month_super_off_peak = {{ percentage_last_month_super_off_peak }};

        var percentage_last_month_peak_cost = {{ percentage_last_month_peak_cost }};
        var percentage_last_month_off_peak_cost = {{ percentage_last_month_off_peak_cost }};
        var percentage_last_month_super_off_peak_cost = {{ percentage_last_month_super_off_peak_cost }};
        var period_start = {{ period_start }};
        var period_end = {{ period_end }};

        var power_loader_meter_hours_max = {{ power_loader_meter_hours_max|safe }};
        var power_spent_by_hours_label= {{ power_spent_by_hours_label|safe }};

        var datasets_overview = {{ datasets_overview|safe }};

        var datasets_overview_month = [];

        var i;

        for (var j=0; j<datasets_overview.length; j++) {
            var data = [];
            for (i = 0; i < datasets_overview[j]["x"].length; i++) {
            data.push({x: datasets_overview[j]["x"][i], y: datasets_overview[j]["y"][i]})
          }
            if (datasets_overview[j]["doted"] == "true") {
                datasets_overview_month.push({
                    data: data,
                    label: datasets_overview[j]["label"],
                    borderColor: datasets_overview[j]["color"],
                    backgroundColor: 'transparent',
                    borderDash: [5, 5],
                    borderWidth: 3.5,
                    pointStyle: 'circle',
                    pointRadius: 0,
                    pointBorderColor: 'transparent',
                    pointBackgroundColor: datasets_overview[j]["color"],
                });
            }
            else {
                datasets_overview_month.push({
                    data: data,
                    label: datasets_overview[j]["label"],
                    borderColor: datasets_overview[j]["color"],
                    backgroundColor: 'transparent',
                    borderWidth: 3.5,
                    pointStyle: 'circle',
                    pointRadius: 0,
                    pointBorderColor: 'transparent',
                    pointBackgroundColor: datasets_overview[j]["color"],
                });
            }
        }


    </script>
{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Analyser</h2>
                    </div>
                </div>
            </div>
            <div class="m-b-30">
                <form action="{% url 'analyser' %}?meter={{ meter_id }}" method="post">
                    {% csrf_token  %}
                     <input type="hidden" name="meter_id" value="{{ meter_id }}">
                    <div class="form-group row">
                      <label for="id-date-start" class="col-2 col-form-label">Date</label>
                      <div class="col-3">
                        <input class="form-control" type="date" value={{ period_start }} id="id-date-start" name="date-start">
                      </div>
                         <div class="col-3">
                        <input class="form-control" type="date" value={{ period_end }} id="id-date-end" name="date-end">
                      </div>
                        <div>
                        <button type="submit" class="btn btn-dark">Ok</button>
                    </div>
                    </div>
                </form>
            </div>
            <h1  class="m-b-30" style="text-align: center">{{ bill }} €</h1>
            <div class="row m-b-30">
                <div class="col-5">
                    <div class="au-card" style="height: 100%">
                        <div class="au-card-inner" style="height: 100%">
                        <h3 class="m-b-30">Tariff</h3>
                            <div class="plot-position">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <div class="chart-note-wrap">
                                            <div class="chart-note mr-0 d-block">
                                                <span class="dot dot--blue"></span>
                                                <span>Peak</span>
                                            </div>
                                            {% if tariff > 1 %}
                                            <div class="chart-note mr-0 d-block">
                                                <span class="dot dot--red"></span>
                                                <span>Off-Peak</span>
                                            </div>
                                            {% endif %}
                                            {% if tariff > 2 %}
                                            <div class="chart-note mr-0 d-block">
                                                <span class="dot dot--green"></span>
                                                <span>Super-Off-Peak</span>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                <div class="col-8">
                                    <canvas id="percent-chart"></canvas>
                                </div>

                                <div class="chart-note-wrap">
                                    <div class="chart-note mr-0 d-block">
                                        <span>Inner circle: % of the bill in each Tariff period</span>
                                    </div>
                                    <div class="chart-note mr-0 d-block">
                                        <span>Outer circle: % of the total used power in each Tariff period</span>
                                    </div>
                                </div>
                            </div>
                      </div>
                    </div>
                </div>
                </div>
                <div class="col-7">
                    <div class="au-card" style="height: 100%">
                        <div class="au-card-inner" style="height: 100%">
                        <h3 class="m-b-30">Max Power Spent by Hour</h3>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: {{ percentage_contracted_power_registered }}%;" aria-valuenow="{{ percentage_contracted_power_registered }}" aria-valuemin="0" aria-valuemax="100">{{ max_contracted_power_registered }}/{{ contracted_power }} kW</div>
                        </div>
                          <canvas id="power-mean-month"></canvas>
                      </div>
                    </div>
                </div>
            </div>
            <div class="au-card m-b-30">
                <h3 class="m-b-30">Usage</h3>
                <canvas id="overview-period-chart"></canvas>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2019 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}