{% extends 'base.html' %}
{% load static %}

{%  block header %}
    
{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 m-b-30">
                    <div class="overview-wrap m-b-30">
                        <h2 class="title-1">Contacts</h2>
                    </div>
                    <div class="overview-wrap m-b-30">
                            <h3 class="title-current-contracted">Mail: <span class="color-wwc">info@energyarmyknife.com</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}