{% extends 'base.html' %}
{% load static %}

{%  block header %}

    <script>
        var labels_contract_power_by_month = {{ labels_contract_power_by_month|safe }};
        var max_contract_power_by_month = {{ max_contract_power_by_month|safe }};
        var contracted_powers_perc_values = {{ contracted_powers_perc_values|safe }};
        var contracted_powers_perc_label = {{ contracted_powers_perc_label|safe }};
        var label_current_contract = "{{ label_current_contract }}";
        var contracted_power_values = {{ contracted_power_values|safe }};
    </script>
    <style>
    .title-price{
        color: rgba(0, 0, 0, 0.6);
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .title-card{
        text-align:center;
        font-size: x-large;
    }

    </style>


{% endblock %}


{% block content %}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-12">
                    <div class="overview-wrap m-b-30">
                        <h3 class="title-1">Contracted Power Recommended</h3>
                    </div>
                    <div class="overview-wrap m-b-30">
                        <h3 class="title-current-contracted">Current Contracted Power: <span class="color-wwc">{{ current_contract }} kW</span></h3>
                    </div>
                </div>
            </div>

            </div>
            {% if no_adjustment_price == 0 and small_adjustment_price == 0 and medium_adjustment_price == 0 %}
            <div class="alert alert-success" role="alert">
                  Congratulations! Your contracted power fits your routine habits perfectly, You do not need to change it.
            </div>
            {% elif no_adjustment_price < 0 and small_adjustment_price <= 0 and medium_adjustment_price <= 0%}
                <div class="alert alert-danger" role="alert">
                  Warning! You exceeded your contracted power at least once in the past. If you were in the next
                    contract level you would pay {{ no_adjustment_price }} more.
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                  You have a contracted power above your power consumption, you could save some money by changing your contracted power.
                    Take a look below to see the options available!
                </div>
            {% endif %}

            <div class="card-deck">
            {% if no_adjustment_price > 0%}
                <div class="card text-white mb-3" style="max-width: 22.3rem; background-color: rgba(25,133,0,0.50)">
                  <div class="card-header title-card">Smart - {{ no_adjustment_price_contract }}kW</div>
                  <div class="card-body">
                    <h1 class="title-price"><span class="save-label">save: </span>{{ no_adjustment_price }} <span class="price-label">€/year</span> </h1>
                    <p class="card-text">You do not have to adjust your current habits! This contracted power is higher
                        than your maximum registered power!</p>
                  </div>
                </div>
            {% endif %}
            {% if small_adjustment_price > 0 and no_adjustment_price != small_adjustment_price%}

                <div class="card text-white mb-3" style="max-width: 22.3rem; background-color: rgba(25,133,0,0.66)">
                  <div class="card-header title-card">Eco - {{ small_adjustment_price_contract }}kW</div>
                  <div class="card-body">
                    <h1 class="title-price"><span class="save-label">save: </span>{{ small_adjustment_price }} <span class="price-label">€/year</span> </h1>
                    <p class="card-text">This contracted power is bellow the maximum registered in two years. Besides you
                    only surpass the limit {{percentil_small_adjustment}}% of the times! Do your think you can change your habits and save money?</p>
                  </div>
                </div>
            {% endif %}
            {% if medium_adjustment_price > 0 and small_adjustment_price != medium_adjustment_price%}
                    <div class="card text-white mb-3" style="max-width: 22.3rem; background-color: #198500">
                      <div class="card-header title-card">Super saving - {{ medium_adjustment_price_contract }}kW</div>
                      <div class="card-body">
                        <h1 class="title-price"><span class="save-label">save: </span>{{ medium_adjustment_price }} <span class="price-label">€/year</span> </h1>
                        <p class="card-text">With a little bit more effort you can lower your bill! Currently you cross the
                            limit {{percentil_some_adjustments }}% of the times, are you willing to change your routine to save money?</p>
                      </div>
                    </div>

            {% endif %}
        </div>
            <div CLASS="au-card">
                <canvas id="contract-by-month"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2019 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
{% endblock %}