{% extends 'base.html' %}
{% load static %}

{%  block header %}

    <script>
        var labels_contract_power_by_month = {{ labels_contract_power_by_month|safe }};
        var max_contract_power_by_month = {{ max_contract_power_by_month|safe }};
        var contracted_powers_perc_values = {{ contracted_powers_perc_values|safe }};
        var contracted_powers_perc_label = {{ contracted_powers_perc_label|safe }};
        var label_current_contract = "{{ label_current_contract }}";
        var contracted_power_values = {{ contracted_power_values|safe }};
    </script>
    <style>
    .title-price{
        color: rgba(0, 0, 0, 0.6);
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .title-card{
        text-align:center;
        font-size: x-large;
    }

    </style>


{% endblock %}


{% block content %}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-12">
                    <div class="overview-wrap m-b-30">
                        <h3 class="title-1">Recommendações da Potência Contratada</h3>
                    </div>
                    <div class="overview-wrap m-b-30">
                        <h3 class="title-current-contracted">Potência Contratada Atual: <span class="color-wwc">{{ current_contract }} kW</span></h3>
                    </div>
                </div>
            </div>

            </div>
            {% if no_adjustment_price == 0 and small_adjustment_price == 0 and medium_adjustment_price == 0 %}
            <div class="alert alert-success" role="alert">
                  Parabéns! A sua potência contratada ajusta-se perfeitamente aos seus hábitos de consumo energético.
            </div>
            {% elif no_adjustment_price < 0 and small_adjustment_price <= 0 and medium_adjustment_price <= 0%}
                <div class="alert alert-danger" role="alert">
                  Alerta! O seu consumo energético ultrapassou pelo menos uma vez a sua potência contratada.
                    Caso não consiga adaptar os seus hábitos de consumo e deseja aumentar a potência contractada a sua fatura irá aumentar {{ no_adjustment_price }} €.
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                  A sua potência contratada atual é superior ao seu consumo energético, poderá poupar algum dinheiro alterando a potência contratada.
                   Veja abaixo as opções disponíveis!
                </div>
            {% endif %}

            <div class="card-deck">
            {% if no_adjustment_price > 0%}
                <div class="card text-white mb-3" style="max-width: 22.3rem; background-color: rgba(25,133,0,0.50)">
                  <div class="card-header title-card">Inteligente - {{ no_adjustment_price_contract }}kW</div>
                  <div class="card-body">
                    <h1 class="title-price"><span class="save-label">poupe: </span>{{ no_adjustment_price }} <span class="price-label">€/ano</span> </h1>
                    <p class="card-text">Não precisará de alterar os seus hábitos de consumo energético! Esta potência contratada é superior ao máximo registado em sua casa nos últimos dois anos.</p>
                  </div>
                </div>
            {% endif %}
            {% if small_adjustment_price > 0 and no_adjustment_price != small_adjustment_price%}

                <div class="card text-white mb-3" style="max-width: 22.3rem; background-color: rgba(25,133,0,0.66)">
                  <div class="card-header title-card">Eco - {{ small_adjustment_price_contract }}kW</div>
                  <div class="card-body">
                    <h1 class="title-price"><span class="save-label">poupe: </span>{{ small_adjustment_price }} <span class="price-label">€/ano</span> </h1>
                    <p class="card-text">Esta potência contratada está abaixo do máximo registado nos últimos dois anos. No entanto, a potência registada apenas ultrapassou
                     o limite {{percentil_small_adjustment}}% das vezes! Acha que conseguiria mudar os seus hábitos para poupar algum dinheiro?</p>
                  </div>
                </div>
            {% endif %}
            {% if medium_adjustment_price > 0 and small_adjustment_price != medium_adjustment_price%}
                    <div class="card text-white mb-3" style="max-width: 22.3rem; background-color: #198500">
                      <div class="card-header title-card">Super poupança - {{ medium_adjustment_price_contract }}kW</div>
                      <div class="card-body">
                        <h1 class="title-price"><span class="save-label">poupe: </span>{{ medium_adjustment_price }} <span class="price-label">€/ano</span> </h1>
                        <p class="card-text">Com um pouco de esforço iria conseguir reduzir significamente a sua fatura energética. Atualmente apenas {{percentil_some_adjustments }}% das vezes o potência registada ultrapassou a contratada, está disposto a mudar a sua rotina para poupar dinheiro?</p>
                      </div>
                    </div>

            {% endif %}
        </div>
            <div CLASS="au-card">
                <canvas id="contract-by-month"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2019 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
{% endblock %}