{% extends 'base.html' %}
{% load static %}

{%  block header %}
    <script>
        var device_id = {{ device_id }};
        var meter_id = {{ meter_id }};

    </script>
{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="overview-wrap">
            <h2 class="title-1">Device Simulator</h2>
        </div>
        <p>
            <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Choose device</button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form action="{% url 'device_simulator' %}" method="post">
                    {% csrf_token  %}
                    <input type="hidden" name="meter_id" value="{{ meter_id }}">
                    <div class="form-group">
                        <label for="device_id" class="col-sm-3 col-form-label">Device</label>
                        <select id="device_id" class="col-sm-6">
                            {% for device in all_devices %}
                                <option value={{ device }}><a class="dropdown-item">{{ device }}</a></option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="device_daily" class="col-sm-3 col-form-label">Daily Usage</label>
                        <select id="device_daily" class="col-sm-6">
                            {% for day in max_per_day %}
                                <option value={{ day }}><a class="dropdown-item">{{ day }}</a></option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="device_weekly" class="col-sm-3 col-form-label">Weekly Usage</label>
                        <select id="device_weekly" class="col-sm-6">
                            {% for week in max_per_week %}
                                <option value={{ week }}><a class="dropdown-item">{{ week }}</a></option>
                            {% endfor %}
                        </select>
                    </div>
                    <fieldset disabled>
                        <div class="form-group">
                            <label for="disabledTextInput" class="col-sm-3 col-form-label">Peak Power</label>
                            <select id="peak_power" class="col-sm-6">
                                <option>{{ peak_power }} kW</option>
                            </select>
                        </div>
                    </fieldset>
                    <div>
                        <button type="submit" class="btn btn-dark" >Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row m-t-25">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c2">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="text">
                                    <h2>{{ dif_bill }}</h2>
                                    <span>Diference in bill</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="data:image/png;base64,{{ plot_devices }}">
        </div>
    </div>
</div>
{% endblock %}