{% extends 'base.html' %}
{% load static %}

{%  block header %}

{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="card">
            <div class="card-header">
                <strong>Validation states</strong> with optional icons
                <em>(deprecated)</em>
            </div>
            <div class="card-body card-block">
                <div class="has-success form-group">
                    <label for="inputSuccess2i" class=" form-control-label">Input with success</label>
                    <input type="text" id="inputSuccess2i" class="form-control-success form-control">
                </div>
                <div class="has-warning form-group">
                    <label for="inputWarning2i" class=" form-control-label">Input with warning</label>
                    <input type="text" id="inputWarning2i" class="form-control-warning form-control">
                </div>
                <div class="has-danger has-feedback form-group">
                    <label for="inputError2i" class=" form-control-label">Input with error</label>
                    <input type="text" id="inputError2i" class="form-control-danger form-control">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}