{% extends 'base.html' %}
{% load static %}

{%  block header %}
    <script>
        var percentage_last_month_peak = {{ percentage_last_month_peak }};
        var percentage_last_month_off_peak = {{ percentage_last_month_off_peak }};

        var power_spent_by_hours = {{ power_spent_by_hours|safe }};
        var power_spent_by_hours_label= {{ power_spent_by_hours_label|safe }};
        var percentage_last_month_super_off_peak = {{ percentage_last_month_super_off_peak }};

        var percentage_last_month_peak_cost = {{ percentage_last_month_peak_cost }};
        var percentage_last_month_off_peak_cost = {{ percentage_last_month_off_peak_cost }};
        var percentage_last_month_super_off_peak_cost = {{ percentage_last_month_super_off_peak_cost }};

        var power_loader_meter_hours_max = {{ power_loader_meter_hours_max|safe }};

        var current_cost = {{ billing_period_month }};
        var current_cost_label = "{{ billing_period_month_label }}";
        var last_year_cost = {{ billing_period_month_last_year }};
        var last_year_cost_label = "{{ billing_period_month_last_year_label }}";
        var appliances_label = {{ appliances_label|safe }};
        var appliances_data = {{ appliances_data|safe }};

        var datasets_overview = {{ datasets_overview|safe }};

        var datasets_overview_month = [];

        var i;

        for (var j=0; j<datasets_overview.length; j++) {
            var data = [];
            for (i = 0; i < datasets_overview[j]["x"].length; i++) {
            data.push({x: datasets_overview[j]["x"][i], y: datasets_overview[j]["y"][i]})
          }

          datasets_overview_month.push({
            data: data,
            label: datasets_overview[j]["label"],
            borderColor: datasets_overview[j]["color"],
            backgroundColor: 'transparent',
            borderWidth: 3.5,
            pointStyle: 'circle',
            pointRadius: 0,
            pointBorderColor: 'transparent',
            pointBackgroundColor: datasets_overview[j]["color"],
          });
        }


    </script>

    <style>
        .center-div{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .plot-position{
            margin: 0;
            position: static;
            bottom: 20%;
        }
        .alert-position{
            margin: 0;
            position: static;
            bottom: 10%;
        }
    </style>
{% endblock %}


{% block content %}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid" >
            <h3 class="title-2 m-b-40">{{ start_month }}-{{ today }}</h3>

            <div>
                <div class="row m-b-30">
                    <div class="col-5">
                        <div class="au-card"  style="height: 100%">
                            <div class="au-card-inner">
                                <div class="plot-position">
                                    {% if percentage_bill == 0 %}
                                    {% elif billing_period_month_last_year < billing_period_month%}
                                    <div style="margin: auto; width: 30%; display: flex">
                                        <img src="{% static "images/icon/up.png" %}" alt="Billing is higher" style="padding-right: 10px; height: 35px">
                                        <h1 style="color: #ff1a00">{{ percentage_bill }}%</h1>
                                    </div>
                                    {% elif billing_period_month_last_year > billing_period_month%}
                                    <div style="margin: auto; width: 30%; display: flex">
                                        <img src="{% static "images/icon/down.png" %}" alt="Billing is lower" style="padding-right: 10px; height: 35px">
                                        <h1 style="color: #00a102">{{ percentage_bill }}%</h1>
                                    </div>
                                    {% endif %}
                                    <div>
                                        <canvas id="barChart"></canvas>
                                    </div>

                                    <div class="chart-note-wrap">
                                        <div class="chart-note mr-0 d-block">
                                            <p>The values in this plot are both from the same time period.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="au-card">
                            <div class="au-card-inner">
                                <canvas id="overview-month-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-b-30">
                <div class="col-5">
                    <div class="au-card" style="height: 100%">
                        <div class="au-card-inner" style="height: 100%">

                            <div class="plot-position">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <div class="chart-note-wrap">
                                            <div class="chart-note mr-0 d-block">
                                                <span class="dot dot--blue"></span>
                                                <span>Peak</span>
                                            </div>
                                            {% if tariff > 1 %}
                                            <div class="chart-note mr-0 d-block">
                                                <span class="dot dot--red"></span>
                                                <span>Off-Peak</span>
                                            </div>
                                            {% endif %}
                                            {% if tariff > 2 %}
                                            <div class="chart-note mr-0 d-block">
                                                <span class="dot dot--green"></span>
                                                <span>Super-Off-Peak</span>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                <div class="col-8">
                                    <canvas id="percent-chart"></canvas>
                                </div>

                                <div class="chart-note-wrap">
                                    <div class="chart-note mr-0 d-block">
                                        <span>Inner circle: % of the bill in each Tariff period</span>
                                    </div>
                                    <div class="chart-note mr-0 d-block">
                                        <span>Outer circle: % of the total used power in each Tariff period</span>
                                    </div>
                                </div>
                            </div>
                           {% if current_tariff != best_tariff %}
                                <div class="alert alert-danger alert-position" role="alert" style="margin-top: 20px">
                                  Tariff not optimized for your power consumption, click <a href="{% url 'tariff_subscription' %}?meter={{ meter_id }}" class="alert-link">here</a>.
                                </div>
                           {% else %}
                               <div class="alert alert-success alert-position" role="alert" style="margin-top: 20px">
                                  Congratulations! Your current tariff {{ current_tariff }} is optimized for your power consumption! Detailed info <a href="{% url 'tariff_subscription' %}?meter={{ meter_id }}" class="alert-link">here</a>.
                                </div>
                          {% endif %}

                      </div>
                    </div>
                </div>
                </div>
                <div class="col-7">
                    <div class="au-card" style="height: 100%">
                        <div class="au-card-inner" style="height: 100%">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: {{ percentage_contracted_power_registered }}%;" aria-valuenow="{{ percentage_contracted_power_registered }}" aria-valuemin="0" aria-valuemax="100">{{ max_contracted_power_registered }}/{{ contracted_power }} kW</div>
                        </div>

                        <canvas id="power-mean-month"></canvas>
                          {% if contracted_power != best_contracted_power %}
                            <div class="alert alert-danger alert-position" role="alert">
                              Contracted power {{ contracted_power }} is not optimized click <a href="{% url 'contract_subscription' %}?meter={{ meter_id }}" class="alert-link">here</a>.
                            </div>
                        {% endif %}
                      </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-5">
                <div class="au-card">
                    <div class="au-card-inner">
                        <h1>Carbon Footprint</h1>
                        <h4>Emission</h4>
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4>Green Energy Generated</h4>
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="au-card">
                    <div class="au-card-inner">
                        <canvas id="appliancesbarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
{% endblock %}