{% extends 'base.html' %}
{% load static %}

{%  block header %}
    <script>
        var percentage_last_month_peak = {{ percentage_last_month_peak }};
        var percentage_last_month_off_peak = {{ percentage_last_month_off_peak }};

        var power_spent_by_hours = {{ power_spent_by_hours|safe }};
        var power_spent_by_hours_label= {{ power_spent_by_hours_label|safe }};
        var percentage_last_month_super_off_peak = {{ percentage_last_month_super_off_peak }};

        var percentage_last_month_peak_cost = {{ percentage_last_month_peak_cost }};
        var percentage_last_month_off_peak_cost = {{ percentage_last_month_off_peak_cost }};
        var percentage_last_month_super_off_peak_cost = {{ percentage_last_month_super_off_peak_cost }};

        var plot_current_month = {{ plot_current_month|safe }};
        var plot_last_year_month = {{ plot_last_year_month|safe }};
        var plot_axes = {{ plot_axes|safe }};

        var power_loader_meter_hours_max = {{ power_loader_meter_hours_max|safe }};

        var current_cost = {{ billing_period_month }};
        var current_cost_label = "{{ billing_period_month_label }}";
        var last_year_cost = {{ billing_period_month_last_year }};
        var last_year_cost_label = "{{ billing_period_month_last_year_label }}";


    </script>

    <style>
        .center-div{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .plot-position{
            margin: 0;
            position: static;
            bottom: 20%;
        }
        .alert-position{
            margin: 0;
            position: static;
            bottom: 10%;
        }
    </style>
{% endblock %}


{% block content %}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid" >
            <div class="row">
                <div class="card bg-light mb-3" style="width: 33%;">
                  <div class="card-header">Current Bill</div>
                  <div class="card-body">
                    <h1 class="card-title" style="text-align: center; color: rgba(0,0,0,0.58)">{{ billing_period_month }}€</h1>
                      <div class="plot-position">
                        <canvas id="barChart"></canvas>
                      </div>
                      <div>
                        {% if billing_period_month_last_year < billing_period_month%}
                        <div class="alert alert-danger alert-position" role="alert">
                          You are spending more this month than in same period last year! Your current bill is
                            {{ billing_period_month }}€ and in the same period last year was {{ billing_period_month_last_year }}€.
                        </div>
                        {% elif billing_period_month_last_year > billing_period_month %}
                            <div class="alert alert-success alert-position" role="alert">
                              Congratulations! You are spending less this month than in same period last year! Your current bill is
                                {{ billing_period_month }}€ and in the same period last year was {{ billing_period_month_last_year }}€.
                            </div>
                        {% endif %}
                      </div>
                  </div>
                </div>

                <div class="card bg-light mb-3" style="width: 33%;">
                  <div class="card-header">Peak distribution</div>
                  <div class="card-body">
                    <div class="plot-position">
                        <div class="row no-gutters">
                            <div class="chart-note-wrap">
                                <div class="chart-note mr-0 d-block">
                                    <span>Inner circle: Cost distribution</span>
                                </div>
                                <div class="chart-note mr-0 d-block">
                                    <span>Outer circle: Power Usage distribution</span>
                                </div>
                            <br>
                            <div class="chart-note mr-0 d-block">
                                <span class="dot dot--blue"></span>
                                <span>Peak</span>
                            </div>
                            {% if tariff > 1 %}
                                <div class="chart-note mr-0 d-block">
                                    <span class="dot dot--red"></span>
                                    <span>Off-Peak</span>
                                </div>
                            {% endif %}
                            {% if tariff > 2 %}
                                <div class="chart-note mr-0 d-block">
                                    <span class="dot dot--green"></span>
                                    <span>Super-Off-Peak</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div style="width: 90%">
                        <canvas id="percent-chart"></canvas>
                    </div>
                </div>
               {% if current_tariff != best_tariff %}
                    <div class="alert alert-danger alert-position" role="alert" style="margin-top: 20px">
                      Your current tariff {{ current_tariff }} is not optimized for your power consumption, it should be {{ best_tariff }}.
                         To view detailed information regarding this subject click <a href="{% url 'tariff_subscription' %}?meter={{ meter_id }}" class="alert-link">here</a>.
                    </div>
              {% else %}
                   <div class="alert alert-success alert-position" role="alert" style="margin-top: 20px">
                      Congratulations! Your current tariff {{ current_tariff }} is optimized for your power consumption! Detailed info <a href="{% url 'tariff_subscription' %}?meter={{ meter_id }}" class="alert-link">here</a>.
                    </div>
              {% endif %}

              </div>
                </div>
                <div class="card bg-light mb-3" style="width: 33%;">
                  <div class="card-header">Contracted Power</div>
                  <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <canvas id="power-mean-month"></canvas>
                      {% if contracted_power != best_contracted_power %}
                        <div class="alert alert-danger alert-position" role="alert">
                          Your current contracted power {{ contracted_power }} is not optimized for your power consumption, it should be {{ best_contracted_power }}.
                             To view detailed information regarding this subject click <a href="{% url 'contract_subscription' %}?meter={{ meter_id }}" class="alert-link">here</a>.
                        </div>
                    {% endif %}
                  </div>
                </div>
            </div>

            <div class="row" style="margin-top: 50px">
                <div class="col-lg-8">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">{{ start_month }}-{{ today }}</h3>
                            <canvas id="overview-month-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
{% endblock %}