{% extends 'base.html' %}
{% load static %}

{%  block header %}
    <script>
        var percentage_last_month_peak = {{ percentage_last_month_peak }};
        var percentage_last_month_off_peak = {{ percentage_last_month_off_peak }};

        var power_spent_by_hours = {{ power_spent_by_hours|safe }};
        var power_spent_by_hours_label= {{ power_spent_by_hours_label|safe }};
        var percentage_last_month_super_off_peak = {{ percentage_last_month_super_off_peak }};

        var percentage_last_month_peak_cost = {{ percentage_last_month_peak_cost }};
        var percentage_last_month_off_peak_cost = {{ percentage_last_month_off_peak_cost }};
        var percentage_last_month_super_off_peak_cost = {{ percentage_last_month_super_off_peak_cost }};

        var power_loader_meter_hours_max = {{ power_loader_meter_hours_max|safe }};

        var bar_plot_values = {{ bar_plot_values|safe }};
        var bar_plot_labels = {{ bar_plot_labels|safe }};

        var appliances_label = {{ appliances_label|safe }};
        var appliances_data = {{ appliances_data|safe }};

        var datasets_overview = {{ datasets_overview|safe }};

        var datasets_overview_month = [];

        var i;

        for (var j=0; j<datasets_overview.length; j++) {
            var data = [];
            for (i = 0; i < datasets_overview[j]["x"].length; i++) {
            data.push({x: datasets_overview[j]["x"][i], y: datasets_overview[j]["y"][i]})
          }
            if (datasets_overview[j]["doted"] == "true") {
                datasets_overview_month.push({
                    data: data,
                    label: datasets_overview[j]["label"],
                    borderColor: datasets_overview[j]["color"],
                    backgroundColor: 'transparent',
                    borderDash: [5, 5],
                    borderWidth: 3.5,
                    pointStyle: 'circle',
                    pointRadius: 0,
                    pointBorderColor: 'transparent',
                    pointBackgroundColor: datasets_overview[j]["color"],
                });
            }
            else {
                datasets_overview_month.push({
                    data: data,
                    label: datasets_overview[j]["label"],
                    borderColor: datasets_overview[j]["color"],
                    backgroundColor: 'transparent',
                    borderWidth: 3.5,
                    pointStyle: 'circle',
                    pointRadius: 0,
                    pointBorderColor: 'transparent',
                    pointBackgroundColor: datasets_overview[j]["color"],
                });
            }
        }


    </script>

    <style>
        .center-div{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .plot-position{
            margin: 0;
            position: static;
            bottom: 20%;
        }
        .alert-position{
            margin: 0;
            position: static;
            bottom: 10%;
        }
        .box-image-alert-bill{
            padding-right: 10px;
            height: 20px;
            padding-left: 10px;
        }
    </style>
{% endblock %}


{% block content %}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid" >
            <h3 class="title-2 m-b-40">{{ start_month }}-{{ today }}</h3>

            <div>
                <div class="row m-b-30">
                    <div class="col-lg-6 m-b-30">
                        <div class="au-card"  style="height: 100%">
                            <div class="au-card-inner">
                                <h3>Fatura</h3>
                                <div class="row m-b-30" style="padding: 20px">
                                    <div class="col-lg-5">
                                        <div class="row">
                                            <p>Este mês</p>
                                            {% if bar_plot_values.0 < bar_plot_values.1%}
                                                <img class="box-image-alert-bill" src="{% static "images/icon/up.png" %}" alt="Billing is higher">
                                                <h3 style="color: #ff1a00">{{ percentage_bill.0 }}%</h3>
                                            {% elif bar_plot_values.0 > bar_plot_values.1%}
                                                <img class="box-image-alert-bill" src="{% static "images/icon/down.png" %}" alt="Billing is lower">
                                                <h3 style="color: #00a102">{{ percentage_bill.0 }}%</h3>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="row">
                                            <p>Próximo mês</p>
                                             {% if bar_plot_values.1 < bar_plot_values.2%}
                                                <img class="box-image-alert-bill" src="{% static "images/icon/up.png" %}" alt="Billing is higher">
                                                <h3 style="color: #ff1a00">{{ percentage_bill.1 }}%</h3>
                                            {% elif bar_plot_values.1 > bar_plot_values.2%}
                                                <img class="box-image-alert-bill" src="{% static "images/icon/down.png" %}" alt="Billing is lower">
                                                <h3 style="color: #00a102">{{ percentage_bill.1 }}%</h3>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <canvas id="barChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 m-b-30">
                        <div class="au-card" style="height: 100%">
                            <div class="au-card-inner" style="height: 100%">
                                <h3 class="m-b-30">Tarifa</h3>
                                <div class="plot-position">
                                    <div class="row no-gutters">
                                        <div class="col-4">
                                            <div class="chart-note-wrap">
                                                {% if tariff == 1 %}
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--blue"></span>
                                                    <span>Simples</span>
                                                </div>
                                                {% elif tariff == 2 %}
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--blue"></span>
                                                    <span>Fora de Vazio</span>
                                                </div>
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--red"></span>
                                                    <span>Vazio</span>
                                                </div>
                                                {% else %}
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--blue"></span>
                                                    <span>Ponta</span>
                                                </div>
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--red"></span>
                                                    <span>Cheias</span>
                                                </div>
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--green"></span>
                                                    <span>Vazio</span>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                    <div class="col-lg-8">
                                        <canvas id="percent-chart"></canvas>
                                    </div>

                                    <div class="chart-note-wrap">
                                        <div class="chart-note mr-0 d-block">
                                            <span>Círculo interno: % de cada período na fatura total</span>
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                            <span>Círculo Externo: % da potência utilizada em cada período</span>
                                        </div>
                                    </div>
                                </div>
                               {% if current_tariff != best_tariff %}
                                    <div class="alert alert-danger alert-position" role="alert" style="margin-top: 20px">
                                      A sua tarifa não está optimizada para o seu consumo energético, para saber mais clique <a href="{% url 'tariff_subscription' %}?meter={{ meter_id }}" class="alert-link">aqui</a>.
                                    </div>
                               {% else %}
                                   <div class="alert alert-success alert-position" role="alert" style="margin-top: 20px">
                                      Parabéns! A sua tarifa {{ current_tariff }} está optimizada para o seu consumo! Informação detalhada <a href="{% url 'tariff_subscription' %}?meter={{ meter_id }}" class="alert-link">aqui</a>.
                                    </div>
                              {% endif %}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="au-card m-b-30">
                <h3 class="m-b-30">Previsão de Consumo</h3>
                <canvas id="overview-month-chart"></canvas>
            </div>

            <div class="au-card m-b-30" style="height: 100%">
                <h3 class="m-b-20">Potência Contratada</h3>
                <div class="au-card-inner" style="height: 100%">
                {% if contracted_power != best_contracted_power %}
                <div class="m-b-30">
                    <div class="alert alert-danger alert-position" role="alert">
                      A sua potência contratada não está optimizada para o seu consumo, clique <a href="{% url 'contract_subscription' %}?meter={{ meter_id }}" class="alert-link">aqui</a> para saber mais.
                    </div>
                </div>
                {% endif %}
                <div class="progress m-b-30">
                  <div class="progress-bar" role="progressbar" style="width: {{ percentage_contracted_power_registered }}%;" aria-valuenow="{{ percentage_contracted_power_registered }}" aria-valuemin="0" aria-valuemax="100">{{ max_contracted_power_registered }}/{{ contracted_power }} kW</div>
                </div>
                <canvas id="power-mean-month"></canvas>
              </div>
            </div>

            {% if meter_id == "meter_EDP" %}
                <div class="au-card m-b-30">
                    <h3 class="m-b-30">Equipamentos</h3>
                    <div class="au-card-inner">
                        <canvas id="appliancesbarChart"></canvas>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2019 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
{% endblock %}