{% extends 'base.html' %}
{% load static %}

{%  block header %}
<script>

    //var pv_and_bat_data = {{ pv_and_bat_data|safe }};
    var bat_sep = {{ pv_and_bat_data|safe }};
    var total_load = {{ total_load|safe }};
    var load_from_grid = {{ load_from_grid|safe }};

    var generated_PV_waisted = {{ generated_PV_waisted|safe }};
    var generated_PV_used = {{ generated_PV_used|safe }};
    var battery_used = {{ battery_used|safe }};

    var x_axis = {{ x_axis|safe }};

    var color = ['rgba(250,160,0,0.9)', 'rgba(0, 123, 255,0.9)', 'rgba(0,161,2, 0.9)', 'rgba(255,26,0, 0.9)']
    var pv_and_bat_data_xy_dic = [];

    for (var i = 0; i < bat_sep.length; i++) { // loop per battery
        pv_and_bat_data_xy_dic.push({
              label: 'PVs + ' + i + ' battery',
              data: [],
              backgroundColor: 'transparent',
              borderColor: color[i],
              borderWidth: 3,
              pointStyle: 'circle',
              pointRadius: 5,
              pointBorderColor: 'transparent',
              pointBackgroundColor: color[i],
        });
        for (var j = 0; j < bat_sep[i].length; j++) { // loop per item

            //if (bat_sep[i][j]['time for return'] > 30) continue;

            pv_and_bat_data_xy_dic[i]['data'].push({
                x: bat_sep[i][j]['installation_cost'],
                y: Math.round(bat_sep[i][j]['time for return']*10)/10
            });
        }
    }


</script>
{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row m-b-30">
                <div class="col-md-12">
                    <div class="overview-wrap m-b-30">
                        <h2 class="title-1">Photovoltaic Simulator</h2>
                    </div>
                    <div class="overview-wrap">
                        <p class="m-b-10 color-wwc" style="font-weight: bold">Do you want to find out the impact photovoltaic panels and batteries in you power consumption? Fill the fields bellow and click <span style="color: #000000"> Simulate</span> to get the results! </p>
                    </div>
                </div>
            </div>

            <div class="au-card m-b-40">
                <form action="{% url 'photovoltaic' %}?meter={{ meter_id }}" method="post">
                    {% csrf_token  %}
                    <input type="hidden" name="meter_id" value="{{ meter_id }}">
                    <div class="row">
                        <div class="col-6 form-group">
                            <label for="id_n_panels">Number of PV Panels</label>
                             <input id="id_n_panels" name="n_panels" type="number" value=1 min=1>
                        </div>
                        <div class="col-6 form-group">
                            <label for="id_n_batteries">Number of Batteries</label>
                            <input id="id_n_batteries" name="n_batteries" type="number" value=0 min=0>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-dark" >Simulate</button>
                    </div>
                </form>

            </div>
            {% if is_simulation %}
            <div style="width: 100%">
                <h1 class="m-b-30" style="text-align: center">Simulation Results</h1>
                <div class="row m-b-30">
                    <div class="col-3">
                        <h5 style="text-align: center">Total Investment: <span style="color: #0063bc">{{ cost }} €</span></h5>
                    </div>
                    <div class="col-3">
                        <h5 style="text-align: center">Pay Back Period : <span style="color: #0063bc">{{ pay_back_period }} years</span></h5>
                    </div>
                    <div class="col-3">
                        <h5 style="text-align: center">Number of Panels: {{ n_panel }}</h5>
                    </div>
                    <div class="col-3">
                        <h5 style="text-align: center">Number of Batteries: {{ n_battery }}</h5>
                    </div>
                </div>
            </div>


            <div class="au-card m-b-20" style="width: 100%">
                <h3 class="m-b-30">Estimation of Energy Generated with the Selected Equipment in the Past Year</h3>
                <canvas id="bar-renewals-chart"></canvas>
            </div>
            <div class="au-card m-b-20" style="width: 100%">
                <h3 class="m-b-30">Energy Bought from the Grid with or without the Selected Equipment</h3>
                <canvas id="power-renewals-chart"></canvas>
            </div>
             <div class="au-card m-b-20" style="width: 100%">
                <h3 class="m-b-30">Return On Investment Vs Initial Investment</h3>
                <canvas id="overview-pv-savings"></canvas>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2019 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}