{% extends 'base.html' %}
{% load static %}

{%  block header %}
    <style>
    .title-price{
        color: rgba(0, 0, 0, 0.6);
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .title-card{
        text-align:center;
        font-size: x-large;
    }

    </style>

    <script>
        var months_tariff_label = {{ months_tariff_label|safe }};
        var simple_tariff_cross_months = {{ simple_tariff_cross_months|safe }};
        var two_tariff_cross_months = {{ two_tariff_cross_months|safe }};
        var three_tariff_cross_months = {{ three_tariff_cross_months|safe }};

    </script>


{% endblock %}


{% block content %}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-12">
                    <div class="overview-wrap m-b-30">
                        <h1 class="title-1">Recomendação da Tarifa</h1>
                    </div>
                    <div class="overview-wrap m-b-30">
                        <h3 class="title-current-contracted">Tarifa Atual: <span class="color-wwc">{{ current_tariff }}</span></h3>
                    </div>
                </div>
            </div>
            {% if simple_tariff_savings <= 0  and two_tariff_savings <= 0 and three_tariff_savings <= 0 %}
            <div class="alert alert-success" role="alert">
                  Parabéns! A sua tarifa ajusta-se perfeitamente aos seus hábitos de consumo energético.
            </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                  A sua tarifa atual não é a mais adequada para o seu consumo energético, poderia poupar algum dinheiro alterando a tarifa contratada.
                    Veja abaixo quanto pode poupar com outras tarifas!
                </div>
            {% endif %}
            <div class="center-div">
                <div class="card-deck" >
                    {% if simple_tariff_savings > 0 %}
                    <div class="card text-white mb-3" style="max-width: 33.3rem; background-color: rgba(0, 123, 255, 0.5)">
                      <div class="card-header title-card">Simples</div>
                      <div class="card-body">
                        <h1 class="title-price"><span class="save-label">poupe:</span> {{ simple_tariff_savings }} <span class="price-label">€/ano</span></h1>
                        <p class="card-text">O custo do consumo energético é o mesmo (taxa normal) a qualquer hora do dia e em qualquer altura do ano.</p>
                      </div>
                    </div>
                    {% endif %}
                    {% if two_tariff_savings > 0 %}
                    <div class="card text-white mb-3" style="max-width: 33.3rem; background-color: rgba(0,161,2, 0.5)">
                      <div class="card-header title-card">Bi-Horária</div>
                      <div class="card-body">
                        <h1 class="title-price"><span class="save-label">poupe:</span> {{ two_tariff_savings }} <span class="price-label">€/ano</span></h1>
                        <p class="card-text">O custo da eletricidade depende da hora a que esta está a ser consumida, nesta opção existem dois periodos de faturação: vazio e fora de vazio. As horas de vazio têm um custo inferior às horas fora de vazio.</p>
                      </div>
                    </div>
                    {% endif %}
                    {% if three_tariff_savings > 0 %}
                    <div class="card text-white mb-3" style="max-width: 33.3rem; background-color: rgba(255,26,0,0.5)">
                      <div class="card-header title-card">Tri-Horária</div>
                      <div class="card-body">
                        <h1 class="title-price"><span class="save-label">poupe:</span> {{ three_tariff_savings }} <span class="price-label">€/ano</span></h1>
                        <p class="card-text">O custo da eletricidade depende da hora de consumo, nesta opção existem três periodos de faturação: vazio, fora de vazio e ponta.
                        O custo de eletricidade é mais alto nas horas de ponta e mais baixo na hora de vazio.</p>
                      </div>
                    </div>
                    {% endif %}
                </div>
                </div>
                <div class="au-card">
                    <canvas id="tariff_months"></canvas>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2019 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
{% endblock %}