{% extends 'base.html' %}
{% load static %}

{%  block header %}
    <style>
    .title-price{
        color: rgba(0, 0, 0, 0.6);
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .title-card{
        text-align:center;
        font-size: x-large;
    }
    .title-current-tariff{
        color: rgba(56, 56, 56, 0.74);
        font-family: inherit;
    }

    .price-label{
        font-size: 18px;
    }

    </style>

    <script>
        var months_tariff_label = {{ months_tariff_label|safe }};
        var simple_tariff_cross_months = {{ simple_tariff_cross_months|safe }};
        var two_tariff_cross_months = {{ two_tariff_cross_months|safe }};
        var three_tariff_cross_months = {{ three_tariff_cross_months|safe }};

    </script>


{% endblock %}


{% block content %}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-12">
                    <div class="overview-wrap m-b-30">
                        <h1 class="title-1">Tariff Recommender</h1>
                    </div>
                    <div class="m-b-10" style="display: flex">
                        <h3 style="margin-right: 5px;">Current Tariff:</h3><h3 class="title-current-tariff"> {{ current_tariff }}</h3>
                    </div>
                </div>
            </div>
            {% if simple_tariff_savings <= 0  and two_tariff_savings <= 0 and three_tariff_savings <= 0 %}
            <div class="alert alert-success" role="alert">
                  Congratulations! Your tariff fits your routine habits perfectly, You do not need to change it.
            </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                  Your current tariff is not suited your power consumption, you could save some money by changing your tariff.
                    Take a look below to see the options bellow!
                </div>
            {% endif %}

            <div class="card-deck">
                {% if simple_tariff_savings > 0 %}
                <div class="card text-white mb-3" style="max-width: 22.3rem; background-color: rgba(0, 123, 255, 0.5)">
                  <div class="card-header title-card">Simple</div>
                  <div class="card-body">
                    <h1 class="title-price">{{ simple_tariff_savings }} <span class="price-label">€/year</span></h1>
                    <p class="card-text">The electricity rate is the same (normal rate) every day of the week and at any time of the year.</p>
                  </div>
                </div>
                {% endif %}
                {% if two_tariff_savings > 0 %}
                <div class="card text-white mb-3" style="max-width: 22.3rem; background-color: rgba(0,161,2, 0.5)">
                  <div class="card-header title-card">Two-Periods</div>
                  <div class="card-body">
                    <h1 class="title-price">{{ two_tariff_savings }} <span class="price-label">€/year</span></h1>
                    <p class="card-text">The electricity rate depends on the consumption schedule and can be charged at two rates: peak or off-peak.</p>
                  </div>
                </div>
                {% endif %}
                {% if three_tariff_savings > 0 %}
                <div class="card text-white mb-3" style="max-width: 22.3rem; background-color: rgba(255,26,0,0.5)">
                  <div class="card-header title-card">Three-Periods</div>
                  <div class="card-body">
                    <h1 class="title-price">{{ three_tariff_savings }} <span class="price-label">€/year</span></h1>
                    <p class="card-text">The electricity rate depends on the consumption schedule and can be charged at Peak, Off-peak or Super-off peak.
                    Super-off peak hours are cheaper, Off-peak hours are charged at an intermediate price and Peak hours are more expensive.</p>
                  </div>
                </div>
                {% endif %}
            </div>
            <div>
                <canvas id="tariff_months"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
{% endblock %}